.Button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  background-color: black;
  border: 1px solid #23cd00;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all ease-in-out 200ms;
  position: relative;

  &:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid #da7511;
  }
}
