@import "../../base/breakpoints";

.container {
  display: grid;
  grid-template-columns: 80% 20%;
  @include md {
    grid-template-columns: 100%;
  }
}

.article {
  padding: 20px 0 40px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;

  button {
    padding: 6px;
    font-size: 10px;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  p {
    margin-bottom: 20px;
    font-size: 15px;
  }
}

.header {
  margin-bottom: 30px;
  border-bottom: 1px solid white;
  padding: 20px 0;
}

.tagsContainer {
  display: flex;
  gap: 10px;

  h6 {
    font-size: 11px;
  }
}

.rightBar {
  background: rgba(0, 0, 0, 0.42);
  padding: 20px;
}

.infoSec {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  hyphens: auto;
  word-wrap: break-word;
  text-align: left;

  img {
    margin: 0 auto;
  }
  h2 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(244, 244, 244);
  }

  p {
    font-size: 13px;
    color: rgb(200, 200, 200);
    padding-bottom: 20px;
  }
  .img {
    width: 95%;
    max-width: 500px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  word-break: break-all;
  font-size: 15px;
  h6 {
    font-size: 10px;
  }
}
