@import "../../base/breakpoints";

.container {
  width: 100%;
  position: relative;
  @include md {
    width: 100%;
  }

  .title {
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 80px 0 80px 80px;

    @include md {
      margin: 60px 0 60px 50px;
    }
  }
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  @include md {
    width: 95%;
  }
}

.heroContainer {
  margin: 10px 0;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 50px;

  @include md {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.heroRight {
  h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 800;
  }
  p {
    color: #da7511;
    font-weight: 600;

    font-size: 18px;
    margin-bottom: 10px;
  }
}

.cardContainer {
  display: flex;
  flex-direction: row;
  margin: 55px 0;
  border-radius: 10px;
  border-bottom: 1px solid #23cd00;

  .cardContainerLeft {
    width: 50%;
    min-height: 300px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: all ease-in 100ms;
    cursor: pointer;

    &::before {
      content: "";
      right: -20px;
      left: 20px;
      top: 20px;
      bottom: -20px;
      position: absolute;
      z-index: -1;
      border-radius: 10px;
      border-right: 1px solid #23cd00;
      border-bottom: 1px solid #23cd00;
    }
    &:hover {
      border-right: 1px solid #da7511;
      border-bottom: 1px solid #da7511;
    }
  }
  .cardContainerRight {
    padding: 20px 20px 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: left;

    h3 {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: rgb(220, 220, 220);
    }

    .cardBotons {
      display: flex;
      margin-top: 20px;
      gap: 10px;
      justify-content: center;
      button {
        font-size: 10px;
        background-color: transparent;
        border: 2px solid rgb(65, 65, 65);
        &:hover {
          background-color: rgba(0, 0, 0, 0.544);
        }

        .botonIcon {
          font-size: 20px;
        }
      }
    }
  }
}

.correo {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: rgba(17, 17, 17, 0.733);
  border: 1px solid #23cd00;
  color: rgb(252, 252, 252);
  padding: 10px 10px 10px 30px;
  border-radius: 20px 0 0 20px;
  font-size: 12px;
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1476842634003-7dcca8f832de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 30px;
  h2 {
    z-index: 19;
    font-size: 28px;
  }
  a {
    border: 1px solid white;
    padding: 7px;
    z-index: 19;
    transition: all ease-in-out 250ms;
    color: white;
    border-radius: 10px;

    &:hover {
      color: #da7511;
      border-color: #da7511;
    }
  }

  .bannerOpacity {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.527);
  }
}
