.container {
  padding: 20px;

  .btn {
    color: green;
    padding: 10px;
    background-color: black;
    border: 1px solid green;
    margin-top: 15px;
  }

  .header {
    display: flex;
    .file1 {
      display: none;
    }

    .headerCenter {
      flex: 1;

      img {
        width: 100%;
        max-width: 400px;
        object-fit: cover;
        object-position: center;
      }
    }
    .headerLeft {
      flex: 1.5;
      input,
      textarea,
      label {
        display: block;
        background: transparent;
        color: rgba(255, 255, 255, 0.607);
        border: none;
        outline: none;
        padding: 10px;
        margin-bottom: 20px;
        transition: all ease-in-out 250ms;

        &:hover,
        label {
          color: rgb(0, 249, 50);
        }

        &::placeholder {
          color: rgba(255, 255, 255, 0.607);
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.179);
          &::placeholder {
            color: rgb(0, 249, 50);
          }
        }
      }

      .title {
        font-size: 30px;
      }
    }
  }

  form {
    margin-top: 50px;
    border-top: 2px solid white;
    padding-top: 50px;

    .renderedSection {
      margin-bottom: 40px;
      gap: 20px;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 20px;
      }

      img {
        width: 150px;
      }
    }

    input,
    label,
    textarea {
      display: block;
      margin-bottom: 20px;
      padding: 10px;
      background: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      transition: all ease-in-out 250ms;
      color: rgba(255, 255, 255, 0.607);

      &:hover,
      label {
        color: rgb(0, 249, 50);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.179);

        &::placeholder {
          color: rgb(0, 249, 50);
        }
      }
    }

    label {
      width: fit-content;
      font-size: 14px;
    }
    .title {
      font-size: 20px;
    }

    .description {
      color: rgb(225, 225, 225);
    }

    .previewimg {
      width: 150px;
      height: 150px;
    }
    .file {
      display: none;
    }
  }
}
