@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  // color: rgb(4, 1, 30);
  color: white;
  scroll-behavior: smooth;
}
.app {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 15, 6, 0.97514980113139) 50%,
    rgba(5, 9, 7, 1) 100%
  );
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
